

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 


html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 87vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
 
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #f3f3f3;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(32, 6, 6);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #f5f7f8;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #e9f0f4;
}

.bm-menu {
  background: #47484e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #c3cae0;
}

.bm-item-list {
  color: #e6e4de;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
